.b-container{
    height: 40rem;
    display: flex;
    margin: 30px;
    border-radius: 50px;
    overflow: hidden;
}

.b-container-left{
    width: 50%;
    position: relative;
    background-color: #efefef;
}

.aaa{
    margin-left: 90px;
}

.b-container-left p{
    margin-top: 60px;
    margin-left: 90px;
    font-size: 42.5px;
    color: #333333;
}

.b-container-left-items{
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.b-title{
    width: 90vw;
    text-align: end;
    color: #333333;
    font-size: 30px;
    margin-top: 20px;
}

.b-container-right{
    background-color: #2ca5ff;
    width: 50%;
    position: relative;
}

.b-container-right-content{
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 42.5px;
    text-align: justify;
}

.b-container-right-content .text{
    margin-right: 90px;
    margin-left: 30px;
    font-size: 30px;
}
.b-container-right-content span{
    border: white 2px solid;
    border-radius: 50px;
    padding: 1px 10px;
}

@media screen and (max-width: 768px){
    .b-title{
        text-align: start;
        margin-left: 20px;
    }
    .b-container{
        flex-direction: column;
        height: auto;
        padding: 10px auto;
    }   
    .b-container-left, .b-container-right{
        width: 100%;
        height: auto;
    }
    .b-container-right{
        letter-spacing: normal;
    }
    .b-container-left-items, .b-container-right-content{
        position: inherit;
    }
    .b-container-right-content .text{
        font-size: 24px;
        margin: 50px 30px;
        text-align: center;
    }
    

}