.b-i-container{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left:30px;
    font-size: 42.5px;
}

.b-i-container-letter{
    background-color: #2ca5ff;
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 42.5px;
    color: white;
}
.b-i-container-text{
    width: 60%;
}
@media screen and (max-width: 768px){
    .b-i-container{
        margin-left: 30px;
        flex-direction: column;
    }
    .b-i-container-text{
        font-size: 24px;
        text-align: center;
    }
    .b-i-container{
        margin: 10px;
    }
}